body{
  display: grid;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #817997;
  border-radius: 10px;
  color: white;
  font-size: 2rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover{
  opacity: 50%;
}

.title-container{
  position: absolute;
  max-width: 30rem;
  min-width: 30rem;
  top: 0;
  left: 50%
}

h1{
  background-color: #817997;
  color: white;
  padding: 14px 20px; 
  font-size: 4rem;
  border-radius: 10px;
  font-family: 'Rockwell', sans-serif;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  margin: 0 auto;
  left: -50%;

}

h2{
  color: #817997;
  text-align: center;
  font-size: 2rem;
  font-family: 'Rockwell', sans-serif;
  margin-top: 7rem;
}

#root{
  background-color: #8F9779;
  content: '';
  border: 10px solid #8F9779;
  border-radius: 10px;
  margin: auto;
  margin-top: 12rem;
}

.dynamic-text-content{
  max-width: 35rem;
  min-width: 25rem;
  border-radius: 10px;
  font-size: 2rem;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 6rem auto 1rem auto;
}

.buttons{
  position: absolute;
  top: 12rem;
  left: 50%;
  max-width: 10rem;
  min-width: 10rem;
  max-height: 4rem;
}

.buttons-wrapper{
  position: relative;
  left:-50%
}

.buttons-wrapper > * {
  padding: 1rem 
}

.flex.buttons-wrapper{
  justify-content: center;
  gap: 1rem;
}

.reset-button{
  position: relative;
  margin: 0 auto;
  left: -50%;
  margin-bottom: 10rem;
}

.flex{
  display: flex;
}


.focus {
  opacity: 50%;
}

.tile{
  background-color: #aaa8a8;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.hidden{
  display: none;
}

.no-drop {cursor: no-drop;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}

.win {
  background-color: gold;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;  
}

.win {
  -webkit-animation:grow 2s 1;
}

@-webkit-keyframes grow {
 0% {
-webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
  }
  
  50% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  
  100% {
  -webkit-transform: scale( 0.8 );-moz-transform: scale( 0.8 );-o-transform: scale( 0.8 );-ms-transform: scale( 0.8 );transform: scale( 0 );
  }
}